
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1648275913341-7973ae7bc9b3?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    background-color: white;
    max-width: 400px;
    border-radius: 8px;
    padding: 20px 50px; /* Wider horizontal padding, less vertical padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px; /* Increase width to make the form appear wider */
    display: grid;
    gap: 15px;
}


h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}


label {
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: 15px;
}


input[type="text"]:focus,
input[type="password"]:focus {
    border-color: black;
    outline: none;
}


input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: black;
}


body {
    display: grid;
    place-items: center;
    height: 100vh;
}


span {
    display: block;
    margin-top: 10px;
}
