
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://plus.unsplash.com/premium_photo-1664476845274-27c2dabdd7f0?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c3RvY2slMjBtYXJrZXR8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    backdrop-filter:blur(5px);
}


form {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: grid;
    gap: 15px;
    margin-bottom: 300px;
}


h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 150px;
}


label {
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: 15px;
}


input[type="text"]:focus,
input[type="password"]:focus {
    border-color: black;
    outline: none;
}


input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;

}

input[type="submit"]:hover {
    background-color: black;
}


body {
    display: grid;
    place-items: center;
    height: 100vh;

}


span {
    display: block;
    margin-top: 10px;
}
